body {
    font-family: Arial, sans-serif;
    background-color: #e0dcdc;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 20px 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(10, 1, 1, 0.1);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #023871;
    text-shadow: 1px 1px 5px #272626;
}

@media(max-width: 470px) {
    h1{
        font-size: 22px;
    }
    table th {
       font-size: 13px;
    }
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #023871;
    color: #fffefe;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #d9ebf4;

}

table tbody tr:hover {
    background-color: #5DE23C;
}

.green {
    color: green;
}

.red {
    color: red;
}